{
  "presets": [
      [ "env",
          {
              "modules": false,
              "useBuiltIns": "usage"
          }
      ],
      "react"
  ],
  "env": {
      "test": {
          "presets": ["react"]
      }
  }
}