{
    "extends": "fortech-react",
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"] }]
    }
}